<div class="product-grid-item">
	{% assign on_sale = false %}
	{% if product.compare_at_price > product.price %}{% assign on_sale = true %}{% endif %}
	<div class="col-sm-3">
		<a href="{{ product.url | within: collection }}" id="product-{{ forloop.index }}" {% unless template == "product" %}{% endunless %}>
			{% if on_sale  %}<div class="sale">{{ 'collections.products.sale' | t }}</div>{% endif %}
			{% unless product.available %}<div class="sold-out">{{ 'collections.products.sold_out' | t }}</div>{% endunless %}
			<img src="{{ product.featured_image.src | product_img_url: '1024x1024' }}" alt="{{ product.featured_image.alt | escape }}" class="img-responsive" />
			<div class="title">{{ product.title }}</div>
			<div class="details">
				<span class="type">
					{{ product.type }}
				</span>
				<span class="price">
					{% assign price = product.price | money %}{% if product.price_varies %}{{ 'collections.products.from_text_html' | t: price: price }}{% else %}{{ price }}{% endif %}{% if on_sale == true %} <del>{{ product.compare_at_price | money }}</del>{% endif %}
				</span>
			</div>
		</a>
	</div>
</div>
