{% paginate blog.articles by 4 %}
<!--START BLOG-->
<div class="container">
  <div class="row">
    <div class="hidden-xs col-sm-2">
      <h3 class="blog-category-title">Category</h3>
      <ul class="blog-category-list">
        {% for tag in blog.all_tags %}
        <li>{{ tag | highlight_active_tag | link_to_tag: tag }}</li>
        {% endfor %}
        {% if current_tags %}
        <li><small>{{ 'All' | link_to: blog.url }}</small></li>
        {% endif %}
      </li>
    </div>
    <div class="col-xs-12 col-sm-10">
      {% include 'paging' %}
      <div class="row">
        {% for article in blog.articles %}
        <!--START POST-->
        <div class="col-xs-12 col-sm-6">
          <article class="post-preview {% if forloop.first %}first{% endif %} {% if forloop.last %}last{% endif %} clearfix">
            <a href="{{ article.url }}">
            {% if article.image %}
            <div class="feature image" style="background-image: url({{ article.image.src | img_url: 'medium' }});"></div>
            {% else if article.excerpt == blank %}
            <div class="feature text">
              <span>{{ article.content | strip_html | truncate: 30 }}</span>
            </div>
            {% else %}
            <div class="feature text">
              <span>{{ article.excerpt }}</span>
            </div>
            {% endif %}
            <div class="feature-overlay"></div>
            <span class="title">{{ article.title }}</h2>
            </a>
          </article>
        </div>
        <!--END POST-->
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<!--END BLOG-->
{% endpaginate %}
