<div class="container" id="reviews-container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-push-2" id="video-container">
      <span class="video-nav previous"></span>
      <div class="embed-responsive-16by9 embed-responsive">
        <iframe id="review-video" class="embed-responsive-item" src="//www.youtube.com/embed/{{settings.review_video_sk_1}}" allowfullscreen></iframe>
      </div>
      <div class="video-description"></div>
      <span class="video-nav next"></span>
    </div>
  </div>
  <div class="row" id="video-thumbnails">
    <div class="col-xs-6 col-sm-3">
      <span class="video-title">Skin Care</span>
      <a class="video-overlay active" href="#!"
      data-manifest="{{settings.review_video_sk_1}}|{{settings.review_video_sk_2}}|{{settings.review_video_sk_3}}|{{settings.review_video_sk_4}}">
        <img src="//img.youtube.com/vi/{{settings.review_video_sk_1}}/mqdefault.jpg"></img>
      </a>
    </div>
    <div class="col-xs-6 col-sm-3">
      <span class="video-title">Make Up</span>
      <a class="video-overlay" href="#!"
      data-manifest="{{settings.review_video_mu_1}}|{{settings.review_video_mu_2}}|{{settings.review_video_mu_3}}|{{settings.review_video_mu_4}}">
        <img src="//img.youtube.com/vi/{{settings.review_video_mu_1}}/mqdefault.jpg"></img>
      </a>
    </div>
    <div class="col-xs-6 col-sm-3">
      <span class="video-title">Hair Care</span>
      <a class="video-overlay" href="#!"
      data-manifest="{{settings.review_video_hc_1}}|{{settings.review_video_hc_2}}|{{settings.review_video_hc_3}}|{{settings.review_video_hc_4}}">
        <img src="//img.youtube.com/vi/{{settings.review_video_hc_1}}/mqdefault.jpg"></img>
      </a>
    </div>
    <div class="col-xs-6 col-sm-3">
      <span class="video-title">Body Care</span>
      <a class="video-overlay" href="#!"
      data-manifest="{{settings.review_video_bc_1}}|{{settings.review_video_bc_2}}|{{settings.review_video_bc_3}}|{{settings.review_video_bc_4}}">
        <img src="//img.youtube.com/vi/{{settings.review_video_bc_1}}/mqdefault.jpg"></img>
      </a>
    </div>
  </div>
</div>
