<div class="wysiwyg">
  <div class="container-fluid">
    <div class="row">

      <div class="col-sm-4">
        <div class="brand-image-wrapper">
          <div><img src="{{ 'sana-brand.png' | asset_url }}" class="img-responsive"/></div>
          <span>
            SANA () is a cosmetic brand which stands for "Safe and Natural".
            It is a unique, high-function, high-quality cosmetic with originality
            and natural ingredients, always keeping up with the beauty trend. SANA
            aims to help girls feel beautiful and confident about themselves. It
            is catered to mainly teens and young adults. Other than that, SANA also
            releases a wide range of new products with quality ensured every season,
            while keeping it affordable and easy to use.
          </span>
        </div>
      </div>

      <div class="col-sm-8">
        <!-- {% assign sorted_collections = collections | sort: 'id' %}
        {% for collection in sorted_collections %}
        {% if collection.description != 'SANA-COLLECTION' %}
        {% assign featured = collection.handle %}
        {% assign collection_item_img_size = '480x480' %}

        <div class="grid__item text-center">
          {% capture collection_title %}{{ collections[featured].title | escape }}{% endcapture %}

          <a href="{{ collections[featured].url }}" title="{{ 'collections.general.link_title' | t: title: collection_title }}" class="grid-link text-center">
            <span class="grid-link__image grid-link__image--collection">
              <span class="grid-link__image-centered">
                {% if collections[featured].image %}
                {{ collections[featured].image.src | img_url: collection_item_img_size | img_tag: collection_title }}
                {% else %}
                {{ collections[featured].products.first.featured_image | img_url: collection_item_img_size | img_tag: collection_title }}
                {% endif %}
              </span>
            </span>
          </a>

        </div>

        {% endif %}
        {% endfor %} -->

        <div class="row">
          {% for collection in collections %}
          {% if collection.description == 'SANA-COLLECTION' %}
          {% assign featured = collection.handle %}

          <div class="col-sm-4">
            <a href="{{collection.url}}">
              {{ collections[featured].image.src | img_url: '1024x1024' | img_tag: collections[featured].title }}
            </a>
          </div>
          {% endif %}
          {% endfor %}
        </div>

      </div>

    </div>
  </div>
</div>
