<div id="about-us-page">
  <div class="container">
    <div class="row company-profile-wrapper">
      <div class="col-sm-2 company-profile-left">
        <div class="item-wrapper">
          COMPANY PROFILE
        </div>
      </div>
      <div class="col-sm-10 company-profile-right">
        <div class="item-wrapper">
          Able International Pte Ltd was founded in 1995, as a subsidiary company in Singapore.
          We mainly focus on beauty and health-related products wholesale business,
          including Japanese-made cosmetics, overseas agency business in Southeast
          Asian countries. Since its establishment, we have served as sole agent in
          Singapore export of Japan leading cosmetics manufacturers. Leverage existing
          sales network of more than 100 shops in Singapore at our company,
          we will support the sales development in Singapore of your cosmetics
          and beauty related products. Owner who has involved in the distribution
          industry for more than 30 years and the experienced local staffs have the
          confidence to provide the best products and service to everyone.
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-2 our-partners-left">
        <div class="item-wrapper">
          OUR PARTNERS
        </div>
      </div>
      <div class="col-sm-10 our-partners-right">
        <div class="item-wrapper">
          <div class="row">
            <div class=col-sm-2><img src="{{ 'sasa-logo.jpg' | asset_url }}" class="img-responsive"/></div>
            <div class=col-sm-2><img src="{{ 'watsons-logo.jpg' | asset_url }}" class="img-responsive"/></div>
            <div class=col-sm-2><img src="{{ 'tokyuhands-logo.jpg' | asset_url }}" class="img-responsive"/></div>
            <div class=col-sm-2><img src="{{ 'johnlittle-logo.jpg' | asset_url }}" class="img-responsive"/></div>
            <div class=col-sm-2><img src="{{ 'bhg-logo.png' | asset_url }}" class="img-responsive"/></div>
          </div>
          <div class="row">
            <div class=col-sm-2><img src="{{ 'zalora-logo.jpg' | asset_url }}" class="img-responsive"/></div>
            <div class=col-sm-2><img src="{{ 'anb-logo.png' | asset_url }}" class="img-responsive"/></div>
            <div class=col-sm-2><img src="{{ 'purpur-logo.png' | asset_url }}" class="img-responsive"/></div>
            <div class=col-sm-2><img src="{{ 'rakuten-logo.png' | asset_url }}" class="img-responsive"/></div>
            <div class=col-sm-2><img src="{{ 'nishino-logo.png' | asset_url }}" class="img-responsive"/></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
