<div class="container" id="reviews-container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-push-3">
      <div class="embed-responsive-16by9 embed-responsive">
        <iframe id="review-video" class="embed-responsive-item" src="//www.youtube.com/embed/{{settings.review_video_1}}" allowfullscreen></iframe>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-6 col-sm-3">
      <span class="video-title">{{settings.review_text_1}}</span>
      <a class="review-video-overlay" href="#!" data-id="{{settings.review_video_1}}">
        <img src="//img.youtube.com/vi/{{settings.review_video_1}}/mqdefault.jpg" autoplay="0" controls="0"></img>
      </a>
    </div>
    <div class="col-xs-6 col-sm-3">
      <span class="video-title">{{settings.review_text_1}}</span>
      <a class="review-video-overlay" href="#!" data-id="{{settings.review_video_2}}">
        <img src="//img.youtube.com/vi/{{settings.review_video_2}}/mqdefault.jpg" autoplay="0" controls="0"></img>
      </a>
    </div>
    <div class="col-xs-6 col-sm-3">
      <span class="video-title">{{settings.review_text_1}}</span>
      <a class="review-video-overlay" href="#!" data-id="{{settings.review_video_3}}">
        <img src="//img.youtube.com/vi/{{settings.review_video_3}}/mqdefault.jpg" autoplay="0" controls="0"></img>
      </a>
    </div>
    <div class="col-xs-6 col-sm-3">
      <span class="video-title">{{settings.review_text_1}}</span>
      <a class="review-video-overlay" href="#!" data-id="{{settings.review_video_4}}">
        <img src="//img.youtube.com/vi/{{settings.review_video_4}}/mqdefault.jpg" autoplay="0" controls="0"></img>
      </a>
    </div>
  </div>
</div>
